<table class="table mt-5 text-center">
    <thead>
      <tr>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todoList | async">
            <td>
                {{ todo.description }}
            </td>
            <td>
                <app-edit-todo></app-edit-todo>
            </td>
            <td>
                <button class="btn btn-danger">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
  </table>